[user]
	name = agentr13
	email = anthony@anthonygentry.com
	signingkey = anthony@anthonygentry.com
[color]
	ui = auto
[format]
	pretty = medium
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	editor = /usr/local/bin/vim
